docker.enabled = true

process {
    container = 'theoaphidian/kraken-bracken'
}

manifest {
    author = 'LAMB University of Antwerp'
    name = 'nf-kraken-bracken'
    description = 'A nextflow pipeline for read classification using kraken2 and bracken'
    nextflowVersion = '>=22.04'
    version = 1.0
}

params {
    reads = "data/samples/*.{1,2}.fastq.gz"
    krakendb = "/media/ramdisk/krakendb"
    outdir = "./results"
    pairedEnd = true
    b_threshold = 10
    confidence = 0
    taxonomy_filter = "S"
    help = false
}

profiles {
    standard {
        executor {
            cpus = 24
            memory = '30 GB'
        }
        report {
            enabled = true
            file = 'report_low.html'
        }
        timeline {
            enabled = true
            file = 'timeline_low.html'
        }
    }
}

