docker.enabled = true
report.enabled = true

process {
    container = 'theoaphidian/kraken-bracken'
}

manifest {
    author = 'LAMB University of Antwerp'
    name = 'nf-metagenome-profiler'
    description = 'A nextflow pipeline for read classification using kraken2 and bracken or sylph'
    nextflowVersion = '>=22.04'
    version = 1.0
}


params {
    help = false
    //IO
    reads = "data/samples/*_R{1,2}_001.fastq.gz"
    pairedEnd = true
    outdir = "./results"
    //QC & trimming
    cutFront = false
    frontQual = 30
    windowFront = 4
    cutTail = false
    tailQual = 25
    windowTail = 5
    profiler = "sylph"
    min_reads = 1000
    // sylph options:
    sylphdb = "/mnt/b/seqdata/illumina_mgs/databases/sylph/gtdb-r220-c200-dbv1.syldb"
    // kraken2/bracken options:
    //krakendb = "/media/ramdisk/krakendb"
    //b_threshold = 10
    //confidence = 0.05
    //min_hit_groups = 4
    //bracken_treshold = 10
    //taxonomy_filter = "S"
    //genomesizes = "data/gtdb_genomesize_aggregated.tsv"
}

profiles {
    standard {
        executor {
            cpus = 24
            memory = '30 GB'
        }
    }
}

